 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    color: #000;
}

/* header */

.top-bar {
    position: relative;
    background: linear-gradient(to right, #0082b5, #00a2df);
    color: white;
    height: 80px;
    padding: 0 20px;
    
}

.header-content {
    position: relative;
    height: 100%;
}

.logo {
    position: absolute;
    bottom: -20px;
    left: 20px;
    width: 200px;  /* mantém tamanho da logo */
    height: auto;
}

.login {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #0033cc;
    text-decoration: underline;
    cursor: pointer;
}

.slogan {
   position: absolute;
   bottom: 10px;
   right: 20px;
   font-size: 14px;
   color: white;
}

/* main */

.main-content {
    max-width: 900px;
    margin: 30px auto;
    padding: 0 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Intro section */
.intro {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.intro-image {
    max-width: 380px;
}

.intro-image img {
    max-width: 380px;
    max-height: 220;
    width: auto;
    height: auto;
    border: 2px solid #333;
    border-radius: 8px;
    display: block; /* remove espaçamento extra em linha */
    margin: 0 auto; /* centraliza a imagem dentro do container */
}


.blue-box {
    background-color: #0066b3;
    color: white;
    padding: 16px;
    border: 3px solid #003f7f;
    border-radius: 10px;
    width: 380px;
    flex-shrink: 0;
}

.blue-box h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.blue-box ul {
    list-style: none;
    line-height: 1.8;
    font-size: 14px;   
}

.blue-box a {
    color: #aee4ff;
    text-decoration: underline;
}

.play-now {
    text-align: center;
    margin: 30px 0;
}

.play-now button {
    font-size: 18px;
    font-weight: bold;
    padding: 12px 28px;
    background: linear-gradient(to right, #00aaff, #0082b5);
    color: white;
    border: 2px solid #006699;
    border-radius: 8px;
    cursor: pointer;
     text-shadow: 1px 1px 0 #000;
    transition: transform 0.3s;
}

.play-now button:hover {
    transform: scale(1.02);
}

/* divisor */

.divider {
    margin: 30px 0;
}

/* info section */

.info h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.info p {
    margin: 10px 0;
    font-size: 14px;
    line-height: 1.6;
}

.parent-link {
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    color: #0077cc;
    text-decoration: underline;
    cursor: pointer;
}

/* footer */

.footer {
    background-color: #006699;
    color: white;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
}

.footer a {
    color: #ffffff;
    text-decoration: underline;
}